html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* ^^^^^ */
/* reset */


body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

input[type="text"] {
  width: 100%;
  font-size: inherit;
}

.search-container
{
padding: 20px;
}

.search {
  position: relative;
  width: 100%;
}

#searchfield {
  border: 2px solid black;
  font-size: 15px;
}


.icon {
  width: 15px;
  height: 15px;
  z-index: 1;
  padding: 0px;
  text-align: center;
  font-weight: normal;
  font-size: 0;
  cursor: pointer;
  border:none;
  background-color: initial;
}
.cross {
  position: absolute;
  right:5px;
  top:5px;
}


#list-suggestions {
  border: solid 1px grey;
  display: block;
}

.list-item {
  color: black;
}

.tips {
  width: 100%;
}

.tips.show {
  display: block;
  background: lightblue;
}

.tips.mute {
  display: none;
  /* background: pink; */
}

table.search-history {
  margin-top: 30px;
  border: 1px solid #ddd;
  background: #ccc;
  width: 300px;
  border-spacing: 2;
  border-collapse: separate;

}

table.search-history td {
  background: white;
}

button.delete {
  background: rgb(160, 160, 80);
  width: 32px;
  height: 32px;
  padding: 0;
}